body{
    background-repeat: no-repeat;
    background-image: url(images/snowGif.gif);
    background-size: cover;
}
.title{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #cce1f2;
    font-size: 50px;
    font-weight: 200;
    background: rgba(0, 0, 0, 0.5);
    
}
.video{
    margin-left: 15em;
    margin-top: 2em;
}
